
//Minipax Regular
@font-face {
    font-family: "Minipax";
    font-weight: 500;
    src: url("/assets/font/Minipax-Regular.eot");
    src: url("/assets/font/Minipax-Regular.woff") format("woff"),
    url("/assets/font/Minipax-Regular.woff2") format("woff2");
    }

//Minipax Regular
@font-face {
    font-family: "Minipax";
    font-weight: 800;
    src: url("/assets/font/Minipax-SemiBold.eot");
    src: url("/assets/font/Minipax-SemiBold.woff") format("woff"),
    url("/assets/font/Minipax-SemiBold.woff2") format("woff2");
    }