.maglietta__mobile,
.risotto__mobile,
.libro__mobile,
.poster__mobile,
.cartoline__mobile,
.video__mobile,
.vestiti__mobile {
  display: none;
  z-index: 10;
  max-width: 50%;
  position: absolute;
  top: 10svh;
  left: 25%;
  max-height: 77svh;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid black;

  &__text {
    padding-top: 2rem;
    border-top: 1px solid black;
    border-top: none;
  }

  &__title {
    font-family: $primary-font;
    font-weight: 400;
    text-decoration: underline;
    text-transform: uppercase;
    color: #ff6600;

    .pallina {
      height: 5px;
      width: 5px;
      border-radius: 100px;
      margin-bottom: 5px;
      background-color: #ff6600;
    }
  }
  p {
    font-family: $primary-font;
    font-weight: 500;
    margin: 2rem 0;
  }
  &__image {
    text-align: center;

    img {
      max-width: 100%;
      height: 34rem;
      object-fit: contain;

      @media #{$tablet} {
        width: 100%;
        height: auto;
      }
    }
  }

  @media #{$tablet} {
    max-width: 90%;
    left: 5%;
  }
}

.no-border {
  border-top: none;
}

.open {
  display: flex;
}
